/*Aside*/

@keyframes example{
    100%{
        transform: scale(1.7) rotate(20deg);
    }
}

.asideIconDiv:hover{
    animation-name: example;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


/*Gallery*/
@keyframes gallery{
    100%{
        transform: scale(1.1, 1.1);
        filter: brightness(1.5);
    }
}

.imgFromGallery:hover{
    animation-name: gallery;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border: 1px solid black;
}