/*Reset no CSS*/
html,body, h1   {
    margin: 0;
    padding: 0;
    border: 0;
}


/*Grid*/
.gridContainer{
    display: grid;
    grid-template-columns: auto 100px;

}

.gridContainer{
    height: 100px;
}

body{
    background-color: black;
}

header{
    background-color: red;
}

main{
    background-color: blue;
}

aside{
    background-color: green;
}

footer{
    background-color: yellow;
}